<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>My Blog</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>
  </body>
</html>